body {
  font-family: "Montserrat";
  text-align: center;

}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}
p {
  color: #8f8f8f;
}
                                                            /* headings */
.big-heading,.cta-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
                                                           /* sections */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.white{
  background-color: #fff;
}
.container-fluid {
  padding: 7% 15%;
}

                                                          /* Navigation bar */

.logo {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}
.navbar {
  padding-bottom: 4.5rem;
}
.nav-item {
  padding: 0px 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light" 100;
}

                                                         /* title section */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}
.download-btn {
  margin: 5% 3% 5% 0%;
}
.iphone {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
                                                        /* features section */

#features {
  position: relative;
  z-index: 1;
}
.features-title{
  font-size: 1.5rem;
}
.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}
                                                  /* testimonials section */

#testimonials{
  background-color: #ef8172;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

                                                       /* press section */

#press {
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

                                                      /* pricing section */
#pricing {
  padding: 5% 8%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.card {
  margin: 2rem 1rem;
} 
#cta .btn {
  margin: 2rem 0.8rem;
}
#footer a {
  margin: 20px 10px;
}
                                                    /* @media section */
@media (max-width: 1020px) {
  .container-fluid {
    padding: 4% !important;
    text-align: center;
  }
  .iphone {
    transform: rotate(0deg) !important;
    position: static !important;
    width: 80% !important;
  }
  .navbar {
    padding-bottom: 1rem !important;
  }
  #cta {
    padding: 20px 4px !important;
  }

  #cta .btn {
    margin: 5px 3px !important;
  }
}
